.fashionLogoChild {
  height: 73px;
  width: 196px;
  position: relative;
  object-fit: cover;
}
.contactUs,
.fashionLogo,
.whyQreactive {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.fashionLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.contactUs,
.whyQreactive {
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.whyQreactive {
  position: relative;
}
.contactUs:hover,
.faq:hover,
.whyQreactive:hover {
  color: var(--color-mediumslateblue);
}
.contactUs {
  height: 29px;
}
.contactUs,
.faq,
.line {
  position: relative;
}
.faq {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.line {
  align-self: stretch;
  background: linear-gradient(#1f77d5, #1f77d5), #fff;
  height: 3px;
}
.createQr,
.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.createQr {
  overflow: hidden;
  flex-direction: column;
  gap: 1px;
}
.links {
  flex-direction: row;
  gap: 50px;
}
.component2Child {
  position: absolute;
  top: 17.8px;
  left: 16.9px;
  border-radius: 5.77px;
  background-color: var(--color-cornflowerblue-100);
  box-shadow: 0 1.3px 1.78px 0.89px rgba(0, 0, 0, 0.25);
  width: 40.4px;
  height: 38.6px;
}
.component2Inner,
.component2Item,
.lineDiv {
  position: absolute;
  top: 27.1px;
  left: 24.9px;
  border-top: 2.7px solid var(--color-white);
  box-sizing: border-box;
  width: 24.9px;
  height: 2.7px;
}
.component2Inner,
.lineDiv {
  top: 36px;
}
.lineDiv {
  top: 44.8px;
}
.component2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #176cc6;
  height: 74.6px;
  width: 74.6px;
  position: relative;
  border-radius: 13.32px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.signIn1 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 800;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
}
.signIn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--color-cornflowerblue-100);
  border-radius: var(--br-69xl);
  flex-direction: row;
  justify-content: center;
}
.signIn:hover,
.signUp:hover {
  background-color: var(--color-blueviolet);
  border: 1px solid var(--color-mediumaquamarine-100);
  box-sizing: border-box;
}
.button,
.signIn,
.signUp,
.signUp1 {
  display: flex;
  align-items: center;
}
.signUp1 {
  width: 63px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 800;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  flex-shrink: 0;
}
.button,
.signUp {
  flex-direction: row;
}
.signUp {
  cursor: pointer;
  border: 1px solid #5ed8ab;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: transparent;
  border-radius: var(--br-69xl);
  justify-content: center;
}
.button {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.linksContainer {
  gap: 120px;
}
.linksContainer,
.menuRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navigationBar,
.navigationInnerBar {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.navigationInnerBar {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.navigationBar {
  width: 1440px;
  background-color: #081a51;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-16xl) 75px;
  box-sizing: border-box;
}
.navigationBar:hover {
  mix-blend-mode: lighten;
}
@media screen and (max-width: 1200px) {
  .contactUs,
  .faq,
  .whyQreactive {
    font-size: var(--font-size-xl);
  }
  .whyQreactive:hover {
    color: #bb9494;
  }
  .links {
    gap: 30px;
  }
  .menuRight {
    gap: var(--gap-3xs);
  }
  .navigationBar {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .contactUs,
  .faq,
  .whyQreactive {
    font-size: var(--font-size-smi);
  }
  .links {
    display: none;
  }
  .component2 {
    display: flex;
    border-radius: 17.68px;
  }
  .signIn1 {
    font-size: var(--font-size-base);
  }
  .signIn {
    align-items: center;
    justify-content: center;
  }
  .signUp1 {
    font-size: var(--font-size-base);
  }
  .signUp {
    align-items: center;
    justify-content: center;
  }
  .menuRight {
    gap: var(--gap-3xs);
  }
  .navigationBar {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .signIn1,
  .signUp1 {
    font-size: var(--font-size-smi);
  }
  .navigationBar {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
