@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-slateblue: #5d5ac5;
  --color-darkgray: #b3b3b3;
  --color-mistyrose: #e9cccc;
  --color-gainsboro: #e5e5e5;

  /* Gaps */
  --gap-31xl: 50px;
  --gap-81xl: 100px;
  --gap-6xl: 25px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-31xl: 50px;

  /* Border radiuses */
  --br-11xl: 30px;
}
